body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	margin: auto;
}
.row {
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	display: flex;
}
section {
	display: flex;
	width: 100%;
	height: 100%;
	min-width: 30px;
	min-height: 30px;
}
.card {
	display: flex;
	position: relative;
	border-radius: 10px;
	margin: 10px;
	min-width: 30px;
	min-height: 30px;
	width: 120px;
	height: 120px;
	
}
.back {
  background-color: aqua;
  width: 100%;
	height: 100%;
}
.front {
	background-color: blue;
	width: 100%;
	height: 100%;
}
.side {
  position: absolute;
  backface-visibility: hidden;

  cursor: pointer;

  transition: 1s;
}
